<div
  class="w-full max-w-sm md:max-w-md bg-zinc-900 text-white rounded-2xl p-6 shadow-lg border border-blue-400 mx-auto h-auto"
>
  <h2 class="text-2xl font-semibold text-white mb-8">📝 Edit Schedule</h2>

  <form (ngSubmit)="onSubmit()" class="space-y-5">
    <!-- Title -->
    <div>
      <label class="block text-lg font-medium text-white mb-1">Title:</label>
      <input
        type="text"
        [(ngModel)]="editedSchedule.title"
        name="title"
        required
        class="w-[96%] px-4 py-2 ml-2 rounded-md bg-zinc-800 border border-gray-600 text-white placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 transition"
        placeholder="Enter title"
      />
    </div>

    <!-- Description -->
    <div>
      <label class="block text-lg font-medium text-white mb-1"
        >Description:</label
      >
      <input
        type="text"
        [(ngModel)]="editedSchedule.description"
        name="description"
        required
        class="w-[96%] px-4 py-2 ml-2 rounded-md bg-zinc-800 border border-gray-600 text-white placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 transition"
        placeholder="Enter description"
      />
    </div>

    <!-- Date -->
    <div>
      <label class="block text-lg font-medium text-white mb-1">Date:</label>
      <input
        type="text"
        [(ngModel)]="editedSchedule.date"
        name="date"
        required
        class="w-[96%] px-4 py-2 ml-2 rounded-md bg-zinc-800 border border-gray-600 text-white placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 transition"
        placeholder="Enter title"
      />
    </div>

    <!-- Actions -->
    <div class="pt-4 flex justify-end space-x-3">
      <button
        (click)="onSubmit()"
        type="submit"
        class="bg-pink-500 text-white px-5 py-2 rounded-md hover:bg-pink-600 transition shadow-sm"
      >
        Save
      </button>
      <button
        type="button"
        mat-dialog-close
        (click)="onClose()"
        class="border border-gray-500 text-white px-5 py-2 rounded-md hover:bg-zinc-800 transition"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
